<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conn" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AirlineDB;Integrated Security=True;MultipleActiveResultSets=true" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    
    <staticContent>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>

    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".css" allowed="true"/>
          <add fileExtension=".svg" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <handlers>
      <remove name="StaticFile"/>
      <add name="StaticFile" path="*" verb="*" 
           modules="StaticFileModule" resourceType="File" 
           requireAccess="Read" allowPathInfo="false"/>
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
