<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes" />
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
  
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" xdt:Transform="Replace" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" xdt:Transform="Insert"/>
    </staticContent>
    
    <caching enabled="false" xdt:Transform="SetAttributes" />
    
    <rewrite>
      <rules>
        <rule name="Styles" stopProcessing="true">
          <match url="^GUI/Styles/(.*)$" />
          <action type="Rewrite" url="Styles/{R:1}" />
        </rule>
        <rule name="Images" stopProcessing="true">
          <match url="^GUI/Images/(.*)$" />
          <action type="Rewrite" url="Images/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <remove name="StaticFile" />
      <add name="StaticFile" path="*" verb="GET,HEAD" 
           type="System.Web.StaticFileHandler"
           resourceType="File" 
           requireAccess="Read" />
    </handlers>

    <modules>
      <remove name="BundleModule" />
      <add name="BundleModule" 
           type="System.Web.Optimization.BundleModule" />
    </modules>
  </system.webServer>

  <location path="Styles">
    <system.webServer>
      <directoryBrowse enabled="true" />
    </system.webServer>
  </location>

  <location path="Images">
    <system.webServer>
      <directoryBrowse enabled="true" />
    </system.webServer>
  </location>
</configuration>